
.middle{
    display:grid;
    grid-template-columns:0.6fr 3.6fr 0.6fr;
}


@media screen and (max-width:360px){
    .middle{
        display:grid;
        grid-template-columns:3.6fr 0fr 0fr;
    }
}
