.library-middle{
    overflow-y: scroll;
    background-color: #212121;
    height:87vh;
    width:100%;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:20px;
}
.library-middle::-webkit-scrollbar {
    display: none;
  }