.search-area{
    background-color: rgb(14, 14, 14);
    display:grid;
    grid-template-rows:10vh;
    height:87vh;
    width:100%;
    overflow-y: scroll;
}
.search-area::-webkit-scrollbar {
    display: none;
  }
#search-bar{
    
    height:2.5rem;
    width:20rem;
    border-radius: 20px;
    margin:20px 0 0 15px;
    padding:0 0 0 10px;
}

.search button{
    height:2.5rem;
    width:10rem;
}
.search-box{
    height:10vh;width:100%;
    display:grid;
    grid-template-columns:30px 50px 50px 50px 4fr 2fr 2fr 1fr;
    grid-gap:20px;
    color:white;
    align-items:center;
}
.search-box img{
    width:100%;
}
.search-box button{
    width:100%;
}
.search-box a{
    width:100%;
    display:inline;
}
.search-box:hover{
    background-color:black;
    color:rgba(255, 0, 0, 0.678);
}
.grid{
    display:grid;
    grid-template-rows:repeat(4,30vh) ;
    grid-template-columns: repeat(4,1fr);
    grid-gap:10px;
    background-color: brown;
    width:200vh;
    height:100vh;
    background-color: beige;
}
.grid-column{
    height:30vh;
    width:100%;
}

/* .search{
    display:grid;
    grid-template-rows:repeat(9,1fr);
    grid-template-columns:repeat()
} */